@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
}

<h2>Home</h2>

<div>User Name = @User.Identity.Name</div>
<div>User Id = @User.Identity.GetUserId()</div>
<div>Is Logged In = @User.Identity.IsAuthenticated</div>

